/* AddObjectModal.scss */

.add-object-modal {
    display: flex;
    flex-direction: column;
    .category {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      h4 {
        margin-bottom: 10px;
      }
  
      .object-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
  
        .object-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 80px;
          margin: 5px;
          padding: 10px;
          border: 1px solid transparent;
          border-radius: 4px;
          cursor: pointer;
  
          &:hover {
            border-color: #007bff;
          }
  
          &.selected {
            border-color: #007bff;
            background-color: #e9f5ff;
          }
  
          .object-icon {
            width: auto;  // Укажите желаемый размер
            height: 32px; // Укажите желаемый размер
            margin-right: 10px; // Отступ между иконкой и текстом
          }
  
          .object-name {
            font-size: 12px;
            text-align: center;
          }
        }
      }
    }
  }
  